body{
    margin: 0;
    padding: 0;
}
.heder-sec {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}

h1 {
    font-size: 50px;
}
h2  {
    font-size: 40px;
}
p {
    color: rgb(58, 58, 58);
}
section{
    height: 500px;
    margin-bottom: 150px;
}
.hire_btn {
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    background: linear-gradient(120deg, darkmagenta, crimson, orange);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position .5s;

}
.hire_btn:hover{
    background-position: 0 0;
}
.highlight-txt{
    color: orange;
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
    
}
.half-width img {
    width: 100%;
}
.Expriences{
    margin-left: 20px;
}
.boday-part {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.hlf-width {
    width: 40%;  
    margin-left: 5%;
    float: left;
    border-radius: 5px;
    box-shadow: 10px 10px  40px rgb(58, 58, 58);
    padding: 10px;
    background-color: white;
    
}
#fullstack {
    border-left: 5px solid ;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#babydev{
    border-left: 5px solid ;
    border-color: red;
    border-image: linear-gradient(180deg, rgb(0, 50, 214), rgb(84, 210, 252));
    border-image-slice: 1;
}

.exp_area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    margin-bottom:-100px;
}
footer {
    text-align: center;
    margin-top: -100px;
   
}